
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button mode="md" color = "primary" icon="chevron-back"></ion-back-button>
      <ion-title mode="md">Libraries</ion-title>
      <ion-buttons slot="end"><button style="background-color: white;margin-left: 80%;">
        <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical" size="small" style=" color: #5A6DA4;"></ion-icon>
      </button></ion-buttons> 
    </ion-buttons>    
  </ion-toolbar>
  <ion-searchbar  [(ngModel)]="inputVal"  mode="md" color="light" placeholder="Search Location"></ion-searchbar>


</ion-header>

<ion-content mode="md">
    


  <div *ngFor='let l of libs; let i = index' >
    <ion-card>
      <ion-card-content>
      <!-- <ion-card-header> -->
        <img src={{l.img}} width="70" height="70">
        <ion-card-title>{{l.name}} 
          <h5>{{l.address}}</h5> 
          <button class = "bookmarkBtns">
            <ion-icon id = {{i}}  name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>       
        </ion-card-title>
      <!-- </ion-card-header> -->
      </ion-card-content>
    </ion-card>
    </div>

</ion-content>
<ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home-outline" size="small"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search" routerLink="/search">
        <ion-icon name="search-outline" size="small"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="bookmarks" routerLink="/bookmarks">
        <ion-icon name="bookmark-outline" size="small"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>