<ion-header>
</ion-header>


  
<ion-content>
  <ion-text id="login-message">Log in to ZotSpot<ion-icon name="compass"></ion-icon></ion-text>

  <ion-input id="username-field" class="input" placeholder="Email" color="light"></ion-input>
  <ion-input id="password-field" class="input" placeholder="Password" color="light"></ion-input>
  <ion-label id="stay-signed-in">Stay signed in</ion-label>
  <ion-checkbox id="check"></ion-checkbox>
  <ion-text id="sign-up">Don't have an account? <a routerLink="/signup"><b>Sign up</b></a></ion-text>

  <a id="reset-password" routerLink="/signup">Forgot Password?</a>
  <svg width="304" height="494" viewBox="0 0 414 794" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M64.5348 103.379C133.96 77.9637 203.196 143.948 273.136 177.137C348.383 212.843 451.114 219.189 481.501 301.242C511.912 383.359 441.351 457.24 404.448 531.712C371.69 597.818 347.408 674.302 282.625 702.576C215.116 732.04 135.317 716.857 67.7284 678.671C2.13783 641.614 -48.9915 577.803 -71.4867 502.513C-92.7047 431.497 -70.0814 361.816 -47.0947 294.366C-21.8939 220.418 -4.85369 128.78 64.5348 103.379Z" fill="#2C488B"/>
    </svg>
    
  <ion-button id="login" class="primary" routerLink="/home">Log in</ion-button>
  
</ion-content>
