<ion-header>
</ion-header>


  
<ion-content>
  <ion-text id="login-message">Log in to ZotSpot<ion-icon name="compass"></ion-icon></ion-text>

  <ion-input id="username-field" placeholder="Email" color="light"></ion-input>
  <ion-input id="password-field" placeholder="Password" color="light"></ion-input>
  <ion-label id="stay-signed-in">Stay signed in</ion-label>
  <ion-checkbox id="check"></ion-checkbox>
  <ion-text id="sign-up">Don't have an account?<b>Sign up</b></ion-text>

  <ion-text id="reset-password">Forgot Password?</ion-text>
  
  <ion-button id="login" class="primary" routerLink="/home">Log in</ion-button>
  
</ion-content>
