<ion-header>
</ion-header>


  
<ion-content>
  <ion-text id="login-message">Log in to ZotSpot<ion-icon name="compass"></ion-icon></ion-text>

  <ion-input id="username-field" class="input" placeholder="Email" color="light"></ion-input>
  <ion-input id="password-field" class="input" placeholder="Password" color="light"></ion-input>
  <ion-label id="stay-signed-in">Stay signed in</ion-label>
  <ion-checkbox id="check"></ion-checkbox>
  <ion-text id="sign-up">Don't have an account? <a routerLink="/signup"><b>Sign up</b></a></ion-text>

  <a id="reset-password" routerLink="/signup">Forgot Password?</a>
  
  <ion-button id="login" class="primary" routerLink="/home">Log in</ion-button>
  
</ion-content>
