<!-- <ion-header [translucent]="true">
  <ion-row style="height: 25px"></ion-row>
</ion-header> -->
<ion-header no-border color="translucent"></ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header>
    <ion-searchbar></ion-searchbar>
  </ion-header> -->
  <ion-toolbar slot="fixed" color="translucent">
    <ion-searchbar mode="md" color="light" placeholder="Search Location"></ion-searchbar>
  <!-- <ion-buttons slot="end">  <button style="background-color: white;padding-left: 12%;">
    <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical" size="small" style=" color: #5A6DA4;"></ion-icon>
  </button></ion-buttons>  -->
  </ion-toolbar>
  
  <div>
  <div id='toggle'><app-accessibility-toggle></app-accessibility-toggle></div>
  
  <div #map id="map">
    <!-- <app-google-maps></app-google-maps> -->
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</div>

<div>

</div>



<div *ngIf='showCard == true'>
<ion-card >
  <ion-card-header>
    
    <img src={{serviceImg}} width="83" height="70" style="float: left; padding-right: 1em;">
    <h5 style="color: azure;">{{serviceName}}</h5> 
    <p id="address" style="color: azure; text-align: center;">{{serviceAddress}}</p>
  </ion-card-header>

  <ion-card-content>
    <ion-button id="directions" >Directions</ion-button><ion-button id="dismiss" (click)=onDismiss($event)>Dismiss</ion-button>
    
  </ion-card-content>
</ion-card>
</div>

<ion-fab (click)="changeMap()" vertical="bottom" horizontal="start" slot="fixed" style="position: relative;">
  <ion-fab-button id = 'satellite'>
    <img [src]="'/assets/imgs/satellite.png'" width="40" height="40">
  </ion-fab-button>
</ion-fab>
<!-- 

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <img [src]="'/assets/imgs/pin.png'" width="40" height="40">
</ion-fab>
 -->





 
</ion-content>
<ion-toolbar> <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/bookmarks">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>





    

  </ion-tab-bar>


<!--   
</ion-tabs></ion-toolbar>

 <ion-card> 
  <ion-item id = 'main'>
    <ion-icon id = 'start' name="pin" slot="start"></ion-icon>
    <ion-label>Selected Location</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>

    This is content, without any paragraph or header tags,
    within an ion-card-content element.

  </ion-card-content>
</ion-card> -->





