<!-- <ion-header [translucent]="true">
  <ion-row style="height: 25px"></ion-row>
</ion-header> -->
<ion-header no-border color="translucent"></ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header>
    <ion-searchbar></ion-searchbar>
  </ion-header> -->
  <ion-toolbar slot="fixed" color="translucent">
    <ion-searchbar mode="md" color="light" placeholder="Search Location"></ion-searchbar>
  <!-- <ion-buttons slot="end">  <button style="background-color: white;padding-left: 12%;">
    <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical" size="small" style=" color: #5A6DA4;"></ion-icon>
  </button></ion-buttons>  -->
  </ion-toolbar>
  <div>
  <div id='toggle'><app-accessibility-toggle></app-accessibility-toggle></div>
  <div #map id="map">
    <!-- <app-google-maps></app-google-maps> -->
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</div>

 
</ion-content>
<ion-toolbar> <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks" routerLink="/bookmarks">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs></ion-toolbar>
