<ion-header [translucent]="true">
  <ion-row style="height: 25px"></ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-searchbar></ion-searchbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="bookmarks">
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
