<ion-header no-border color="translucent"></ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar slot="fixed" color="translucent">
    <ion-searchbar color="light" placeholder="Search Location"></ion-searchbar>
  </ion-toolbar>

  <h1>Welcome</h1>
  <div id="cards">
  <ion-card id="washrooms" class="cards" class="categories">
      <ion-card-content>     
        <ion-card-title style= color:azure>Washrooms</ion-card-title>
        <img [src]="'/assets/imgs/Restroom-Icon.png'" width="48" height="35">
    </ion-card-content>
  </ion-card>
  
    <ion-card id="food" class="cards" class="categories">
      <ion-card-content>     
        <ion-card-title>Food</ion-card-title>
        <img [src]="'/assets/imgs/Food-Icon.png'" width="33" height="30">
    </ion-card-content>
  </ion-card>

    <ion-card id="water-fountains" class="cards" class="categories">
      <ion-card-content>     
      <ion-card-title>Water Fountains</ion-card-title>
        <img [src]="'/assets/imgs/local_drink_white.png'" width="43" height="40">
    </ion-card-content>
  </ion-card>

    <ion-card id="libraries" class="cards" class="categories">
      <ion-card-content>     
        <ion-card-title>Libraries</ion-card-title>
        <img [src]="'/assets/imgs/Libraries.png'" width="38" height="35">
    </ion-card-content>
    </ion-card>
  </div>

  <h5>More Categories</h5>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content> -->
    <ion-item> 
  <ion-label>
    Study Spaces
    <img [src]="'/assets/imgs/pushpin.svg'" width="10" height="10">
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Computer Labs
    <img [src]="'/assets/imgs/pushpin.svg'" width="10" height="10">
  </ion-label>
</ion-item>
 
<ion-item>
  <ion-label>
    Parking Lots
    <img [src]="'/assets/imgs/pushpin.svg'" width="10" height="10">
  </ion-label>
</ion-item>
<!-- 
<ion-item>
  <ion-label>
    Lecture Halls
    <img [src]="'/assets/imgs/pushpin.svg'" width="10" height="10">
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Bike Ramps
    <img [src]="'/assets/imgs/pushpin.svg'" width="10" height="10">
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    placeholder
    <img [src]="'/assets/imgs/pushpin.svg'" width="10" height="10">
  </ion-label>
</ion-item>

</ion-infinite-scroll-content>
</ion-infinite-scroll> -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search" routerLink="/search">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bookmarks" routerLink="/bookmark">
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  <!-- <app-navbar></app-navbar> -->
</ion-content>
