<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color = "primary" icon="chevron-back"></ion-back-button>
      <ion-title mode="md">Bookmarks</ion-title>
      <ion-buttons slot="end"><button style="background-color: white;margin-left: 80%;">
        <ion-icon (click)="presentPopover($event)" name="ellipsis-vertical" size="small" style=" color: #5A6DA4;"></ion-icon>
      </button></ion-buttons> 
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  
  <!-- <h1>Sort: Default▼</h1> -->
  <div *ngIf="bookmarkedcopy.length == 0">
  <h2>You have no bookmarks saved</h2>
  <img [src] = "'/assets/imgs/empty_2.png'" width="120" height="120" style="opacity: 25%; margin-left: 4.8em;">
  </div>
  <div *ngFor='let location of bookmarked; let i = index' >
  <ion-card button *ngIf='location.bookmark==true'>
    <ion-card-content>
    <!-- <ion-card-header> -->
      <img src={{location.img}} width="70" height="70">
      <ion-card-title>{{location.name}}
        <h5>{{location.address}}</h5>
        <button class = "bookmarkBtns">
          <ion-icon id = {{i}} (click)="onClick($event)" name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>
      </ion-card-title>
    <!-- </ion-card-header> -->
    </ion-card-content>
  </ion-card>
  </div>

</ion-content>
<ion-toolbar>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home">
      <ion-icon name="home-outline" size="small"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/search">
      <ion-icon name="search-outline" size="small"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="bookmark-outline" size="small"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
