<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color = "primary" icon="chevron-back"></ion-back-button>
      <ion-title mode="md">Bookmarks</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>
<ion-content mode="md">
  <h1>Sort: Default▼</h1>

  <ion-card>
    <ion-card-header>
      <img [src]="'/assets/imgs/fillingStation.png'" width="70" height="70">
      <ion-card-title>Water Filling Station 
        <h5>Rowland Hall, Near First Floor Elevator</h5>
        <button class = "bookmarkBtns" style="margin-left: 85%; background-color: white;">
          <ion-icon name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img [src]="'/assets/imgs/restroom.png'" width="70" height="70">
      <ion-card-title>Restroom 
        <h5>Anteater Recreation Center	Room #104</h5>
        <button class = "bookmarkBtns" style="margin-left: 85%; background-color: white;">
          <ion-icon name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <img [src]="'/assets/imgs/langsonLib.png'" width="70" height="70">
      <ion-card-title>Langson Library 
        <h5>23 W Peltason Dr, Irvine CA 92670</h5>
        <button class = "bookmarkBtns" style="margin-left: 85%; background-color: white;">
          <ion-icon name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img [src]="'/assets/imgs/PhoenixFoodCourt.png'" width="70" height="70">
      <ion-card-title>Phoenix Food Court 
        <h5>Ring Rd, Irvine, CA 92697</h5>
        <button class = "bookmarkBtns" style="margin-left: 85%; background-color: white;">
          <ion-icon name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img [src]="'/assets/imgs/bikeParking.png'" width="70" height="70">
      <ion-card-title>Bike Parking 
        <h5>Engineering Tower, Irvine, CA 92697</h5>
        <button class = "bookmarkBtns" style="margin-left: 85%; background-color: white;">
          <ion-icon name="bookmark" size="small" style="color: #2C488B;"></ion-icon></button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
<ion-toolbar>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" routerLink="/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
